---
# Main tasks for awx_projects role

- name: Validate awx_projects is a list
  assert:
    that:
      - awx_projects is defined
      - awx_projects is iterable
    fail_msg: "awx_projects must be defined as a list"
    quiet: true

- name: Create or update AWX projects
  awx.awx.project:
    name: "{{ item.name }}"
    scm_type: "{{ item.scm_type | default(awx_project_defaults.scm_type) }}"
    scm_url: "{{ item.scm_url | default(omit) }}"
    scm_branch: "{{ item.scm_branch | default(awx_project_defaults.scm_branch) }}"
    scm_refspec: "{{ item.scm_refspec | default(omit) }}"
    scm_credential: "{{ item.scm_credential | default(omit) }}"
    organization: "{{ item.organization | default(awx_project_defaults.organization) }}"
    description: "{{ item.description | default(awx_project_defaults.description) }}"
    scm_clean: "{{ item.scm_clean | default(awx_project_defaults.scm_clean) }}"
    scm_delete_on_update: "{{ item.scm_delete_on_update | default(awx_project_defaults.scm_delete_on_update) }}"
    scm_track_submodules: "{{ item.scm_track_submodules | default(awx_project_defaults.scm_track_submodules) }}"
    scm_update_on_launch: "{{ item.scm_update_on_launch | default(awx_project_defaults.scm_update_on_launch) }}"
    scm_update_cache_timeout: "{{ item.scm_update_cache_timeout | default(awx_project_defaults.scm_update_cache_timeout) }}"
    allow_override: "{{ item.allow_override | default(awx_project_defaults.allow_override) }}"
    state: "{{ item.state | default(awx_project_defaults.state) }}"
    controller_host: "{{ awx_host }}"
    controller_username: "{{ awx_username }}"
    controller_password: "{{ awx_password | default(omit) }}"
    controller_oauthtoken: "{{ awx_token | default(omit) }}"
    validate_certs: "{{ awx_validate_certs }}"
  loop: "{{ awx_projects }}"
  loop_control:
    label: "{{ item.name }}"
  when: awx_projects | length > 0

