---
# Main tasks for awx_instance_groups role

- name: Validate awx_instance_groups is a list
  assert:
    that:
      - awx_instance_groups is defined
      - awx_instance_groups is iterable
    fail_msg: "awx_instance_groups must be defined as a list"
    quiet: true

- name: Create or update AWX instance groups
  awx.awx.instance_group:
    name: "{{ item.name }}"
    instances: "{{ item.instances | default(omit) }}"
    policy_instance_minimum: "{{ item.policy_instance_minimum | default(omit) }}"
    policy_instance_percentage: "{{ item.policy_instance_percentage | default(omit) }}"
    policy_instance_list: "{{ item.policy_instance_list | default(omit) }}"
    is_container_group: "{{ item.is_container_group | default(awx_instance_group_defaults.is_container_group) }}"
    pod_spec_override: |
      {%- set is_container_group = item.is_container_group | default(awx_instance_group_defaults.is_container_group) %}
      {%- set pod_spec = omit %}
      {%- if is_container_group and item.pod_spec_override %}
        {%- set pod_spec = awx_instance_group_defaults.default_pod_spec | combine(item.pod_spec_override, recursive=true) %}
      {%- endif %}
      {{ pod_spec | to_nice_yaml(indent=2) }}
    state: "{{ item.state | default(awx_instance_group_defaults.state) }}"
    controller_host: "{{ awx_host }}"
    controller_username: "{{ awx_username }}"
    controller_password: "{{ awx_password | default(omit) }}"
    controller_oauthtoken: "{{ awx_token | default(omit) }}"
    validate_certs: "{{ awx_validate_certs }}"
  loop: "{{ awx_instance_groups }}"
  loop_control:
    label: "{{ item.name }}"
  when: awx_instance_groups | length > 0

