- hosts: "{{ targets }}"
  vars:
    awx_credentials:
      - name: "Machine Credential"
        ssh_key_path: "{{ ansible_ssh_key_path }}"
    awx_projects:
      - name: "k0rdent"
        scm_url: "{{ project_scm_url }}"
    awx_inventories:
      - name: "k0rdent"
        inventory_sources:
          - name: "k0rdent"
            source_project: "k0rdent"
            source_path: "{{ inventory_source_path }}"
    awx_instance_groups:
      - name: "default"
        pod_spec_override: |
          apiVersion: v1
          kind: Pod
          metadata:
            namespace: awx
          spec:
            serviceAccountName: awx-inventory-reader
            automountServiceAccountToken: true
            containers:
              - image: quay.io/ansible/awx-ee:latest
                name: worker
                args:
                  - ansible-runner
                  - worker
                  - '--private-data-dir=/runner'
                resources:
                  requests:
                    cpu: 250m
                    memory: 100Mi
  roles:
    - awx_credentials
    - awx_projects
    - awx_inventories
    - awx_instance_groups