- hosts: "{{ targets }}"
  vars:
    awx_credentials:
      - name: "Machine Credential"
        ssh_key_path: "{{ ansible_ssh_key_path }}"
    awx_projects:
      - name: "k0rdent"
        scm_url: "{{ project_scm_url }}"
    awx_inventories:
      - name: "k0rdent"
        inventory_sources:
          - name: "k0rdent"
            source_project: "k0rdent"
            source_path: "{{ inventory_source_path }}"
    awx_instance_groups:
      - name: "default"
        pod_spec_override:
          spec:
            serviceAccountName: awx-inventory-reader
            automountServiceAccountToken: true
  roles:
    - awx_credentials
    - awx_projects
    - awx_inventories
    - awx_instance_groups